body{
    font-family: "Sofia", sans-serif;
}
.grid {
    display: grid;
}


.grid-33 {
    grid-template-columns: 33.33% 33.33% 33.33%;
}

/*CLASE 07-10*/
/*Clase mobile first - DANI
- Improve it to make it work
*/
section {
    margin: auto;
    width: 75%;
}
.hamburguesa {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: aqua;
    width: 50px;
    border-radius: 50%;
    text-align: center;
}
img {
    max-width: 100%;
    width: 800px;
    height: 420px;
}
nav-grid{
    display: none;
}

.una {
    grid-template-columns: 100%;
}

@media (min-width: 275px) {
    .tablet-dos {
        grid-template-columns: 50% 50%;
    }

    /*Función para mostrar el nav*/
    nav.grid {
        display: grid;
    }

    .hamburguesa {
        display: none;
    }
}

@media (min-width: 575px) {
    .ordenador-tres {
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
}

/*Fin de la clase :)*/
.margen {
    width: 80%;
    margin: auto;
}

.fondo {
    /*background-image: url(../background_1.jpg);*/
    background-color:#f7dfad;
    background-size: cover;
}

main {
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

article {
    position: relative;
}

article button {
    color: snow;
    /*background-color: rgb(113, 113, 249);*/
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    font-size: large;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    cursor: pointer;
}