 
body{
    background-color: beige;
}
body button{
    background-color: purple;
    color: snow;
    border-radius: 15px;
    margin: 20px;
}
.abrir-chat{
    background-color: red;
    color: snow;
    border-radius: 50%;
    padding: 20px;
    border: none;
    height: 90px;
    cursor: pointer;
}
.chat{
    position: fixed;
    bottom: 10px;
    right: 20px;
}
.chat p{
    font-size: larger;
}
.chat > div:nth-child(1){
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    transition: .5s;
    opacity: 0;
    z-index: -1;
}
.chat div.abierta{
    z-index: 1;
    opacity: 1;
}
.conversacion{
    height: 200px;
    overflow: auto;
}
.conversacion-abierta{
    display: block;
}
.derecha{
    margin-top: 20px;
    text-align: right;
}
.chat input::placeholder{
    color: green;
}
::selection{
    background-color: brown;
    color: snow;
}

