:root {
    /* Los colores principales de la página */
    --color1: rgb(219, 26, 31);
    --color2: rgba(120, 0, 0);
    --color3: snow;
    --color4: #f7dfad;
    --color5: rgb(153, 102, 204);
    --borde: 1px solid rgb(219, 26, 31);
}

html,
body {
    font-family: "Montserrat Alternates", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--color4);
}

/* Configuración de la cuadrícula para dos columnas */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.intro-food {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 80%;
    margin: 0 auto;
}

.intro-food p {
    flex: 1;
    width: 150px;
    height: auto;
    text-align: justify;
    font-size: 1.2em;
    border-style: dotted;
    background-color: snow;
    padding: 20px;
    color: black;
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.intro-food p:hover {
    background-color: var(--color5);
    color: var(--color3);
    font-weight: bold;
    border-style: groove;
    padding: 20px;
    border-radius: 5px;
}

.intro-food img {
    width: 500px;
    height: auto;
    border-style: dashed;
    transform: rotate(-3deg);
    transition: transform 0.5s ease;
    object-fit: cover;
}

.intro-food img:hover {
    transform: rotate(-3deg) scale(1.1);
}

.titulo-central {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: x-large;
    text-align: center;
    border-radius: 10px;
    border-style: dashed;
    background-color: var(--color3);
    background-size: cover;
    background-position: center;
    transition: background-size 0.5s ease, font-style 0.3s ease;
    margin: 20px;
    color: black;
    line-height: 1.6;
}

.titulo-central:hover {
    color: var(--color3);
    background-color: var(--color2);
}

.central-lima {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 80%;
    margin: 0 auto;
}

.central-lima p {
    flex: 1;
    width: 150px;
    height: auto;
    text-align: justify;
    font-size: 1.2em;
    border-style: dotted;
    background-color: snow;
    padding: 20px;
    color: black;
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.central-lima p:hover {
    background-color: var(--color5);
    color: var(--color3);
    font-weight: bold;
    border-style: groove;
    padding: 20px;
    border-radius: 5px;
}

.central-lima img {
    width: 500px;
    height: auto;
    border-style: dashed;
    transform: rotate(6deg);
    transition: transform 0.5s ease;
    object-fit: cover;
}

.central-lima img:hover {
    transform: rotate(-3deg) scale(1.1);
}

.central-team {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    max-width: 70%;
    margin: 0 auto;
}

.central-team img {
    width: 500px;
    height: auto;
    border-style: dashed;
    transition: transform 0.5s ease;
    object-fit: cover;
    margin: 0;

}

.central-team img:hover {
    transform: scale(1.1);
}
.platos-tradicionales {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 80%;
    margin: 0 auto;
}

.platos-tradicionales p {
    flex: 1;
    width: 150px;
    height: auto;
    text-align: justify;
    font-size: 1.2em;
    border-style: dotted;
    background-color: snow;
    padding: 20px;
    color: black;
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.platos-tradicionales p:hover {
    background-color: var(--color5);
    color: var(--color3);
    font-weight: bold;
    border-style: groove;
    padding: 20px;
    border-radius: 5px;
}

.platos-tradicionales img {
    width: 500px;
    height: auto;
    border-style: dashed;
    transition: transform 0.5s ease;
    object-fit: cover;
}

.platos-tradicionales img:hover {
    transform:scale(1.1);
}
