:root {
    --color1: rgb(219, 26, 31);
    --color2: rgba(120, 0, 0);
    --color3: snow;
    --color4: #f7dfad;
    --borde: 1px solid rgb(219, 26, 31);
}

html, body {
    background-color: #f7dfad;
    font-family: "Montserrat Alternates", sans-serif;
    color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body p {
    font-size: xx-large;
    text-align: center;
}

.parrafo1-destinos {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: larger;
    text-align: center;
    background-image: url(https://thumbs.dreamstime.com/b/amazing-world-famous-peruvian-ancient-indigenous-nazca-lines-seamless-pattern-over-dark-brown-worn-out-amazing-world-famous-291165349.jpg);
    margin-top: 40px;
    color: var(--color3);
    line-height: 1.6;
}

.contenido {
    padding: 20px;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imagen-texto-container {
    margin: 20px; /* Espacio alrededor del artículo */
    padding: 20px; /* Relleno interno */
    background-color: var(--color3); /* Color de fondo opcional */
    border: var(--borde); /* Borde opcional */
}

.imagen-texto {
    font-family: "Montserrat Alternates", sans-serif;
    font-style: italic;
    display: flex; /* Habilitar diseño de flexbox */
    align-items: center; /* Alinear elementos verticalmente centrados */
    justify-content: space-between; /* Separar elementos */
    flex-wrap: wrap;
}

.imagen-texto p {
    text-align: center;
    margin: 40px; /* Añadir espacio entre el párrafo y la imagen */
    flex: 1; /* Permitir que el párrafo ocupe el espacio disponible */
    font-size: 1.5em; /* Tamaño de fuente opcional */
}

/* Estilo de la imagen con efecto de zoom */
.imagen-texto img {
    max-width: 100%;
    width: 550px; /* Ancho fijo para la imagen */
    height: auto; /* Mantener la relación de aspecto */
    border-radius: 10px; /* Esquinas redondeadas opcionales */
    transition: transform 0.3s ease; /* Transición suave para el efecto de zoom */
}

.imagen-texto img:hover {
    transform: scale(1.1); /* Escalar la imagen al 110% al pasar el ratón */
}
