:root {
    --naranja: rgb(219, 26, 31);
    --naranja2: rgb(219, 26, 31);
    --borde: 1px solid rgb(219, 26, 31);
}

body {
    margin: 0;
    overflow-x: hidden; /* Evita que aparezaca un 'scrollbar' horizontal */
}

/*Caja de mensaje*/
.form-box {
    position: fixed;
    top: 125px;
    right: 0; 
    padding: 5px;
    width: 350px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    transform: translateX(350px); /*La caja esta oculta en la ventana*/
    transition: transform 1s ease; /*Transición 'suave' y revelación de la caja*/
    border: var(--borde);
    background-color: snow;
    z-index: 1000; /*El contenido de la caja se puede ver sobre el resto de la página*/
}

.form-box.abierto {
    transform: translateX(0px); /*Línea para que el formulario se revele en la ventana*/
}

/*Grid layout para el contenido del formulario*/
.form-box .grid {
    display: grid;
}

.form-box .inputs {
    grid-template-columns: 17.5% 82.5%;
}

.form-box .check {
    grid-template-columns: max-content auto;
}

/*Campos de entrada de datos*/
.form-box input {
    background-color: snow;
    border: 1px solid grey;
    margin-bottom: 2px;
}

.form-box textarea {
    width: calc(100% - 5px);
    resize: none;
    height: 100px;
}

/*Alineación de la casilla*/
.form-box .arriba {
    margin-top: -25px;
}

/*Estilos del botón del formulario*/
.form-box button {
    text-transform: uppercase;
    color: snow;
    padding: 10px 25px;
    font-size: 20px;
    background-image: linear-gradient(to bottom, var(--naranja), var(--naranja2));
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Styling for the "Quick callback" button */
.callback {
    cursor: pointer;
    position: absolute; /* Stay aligned with the form box */
    top: 87px; /* Adjust positioning as necessary */
    left: -120px; /* Position to the left of the form box */
    transform: rotate(90deg); /* Rotate label to be readable */
    background-color: #007BFF; /* Blue background for callback button */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: snow;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1001; /* Ensure button appears above other content */
    transition: background-color 0.3s ease;
}
.callback:hover {
    background-color: rgba(120, 0, 0);
    color: snow;
}
.callback:active {
    background-color: red;
    /* Even darker color when pressed */
}

/* Gallery styling to ensure it stays behind the form box */
.gallery {
    position: relative;
    z-index: 1; /* Lower than the form box */
}
