/* Estilos básicos para el contenido de la página 'Inicio'*/
@font-face{
    font-family: Cormorant;
    src: url(../fonts/static/Cormorant-Italic-VariableFont_wght.ttf);
}

html,
body {
    font-family: Cormorant;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: snow;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two equal-width columns */
    gap: 20px; /* Adds spacing between the grid items */
}

.content {
    padding: 20px;
}

/* Grid layout for images */
.image-container {
    margin: 0;
}

.image-section {
    width: 100%;
    /* Make images responsive */
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 10px;
    /* Optional: rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Optional: shadow effect */
}

.image-container p {
    text-align: center;
    /* Center text below images */
    margin-top: 10px;
    /* Spacing above the paragraph */
}
