:root {
    /* Los colores principales de la página */
    --color1: rgb(219, 26, 31);
    --color2: rgba(120, 0, 0);
    --color3: snow;
    --color4: #f7dfad;
    --borde: 1px solid rgb(219, 26, 31);
}
/* Fondo superpuesto */
.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.707);
    /* Fondo negro semi-transparente */
    z-index: 1;
    /* Asegurar que esté encima */
    display: none;
    /* Oculto por defecto */
}

/* Contenido del modal */
.contenido {
    width: 70%;
    max-width: 500px;
    background-color: snow;
    border-radius: 10px;
    color: #333;
    min-height: 100px;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 20%;
    padding: 20px;
    z-index: 2;
    /* Asegurarse de que esté por encima del fondo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: entrada 0.5s ease;
}

/* Botón de cierre (X) */
.x {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(200, 0, 0);
    color: snow;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
}

/* Botón de cierre en la parte inferior */
.cerrar {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    background-color: rgb(200, 0, 0);
    color: snow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Modal oculto por defecto */
.ocultar {
    display: none;
}

/* Animación de entrada */
@keyframes entrada {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
