:root {
    /*Los colores principales de la página*/
    --color1: rgb(219, 26, 31);
    --color2: rgba(120, 0, 0);
    --color3: snow;
    --borde: 1px solid rgb(219, 26, 31);
}
/*Sección de los estilos*/
@font-face{
    font-family: Cormorant;
    src: url(../fonts/static/Cormorant-BoldItalic.ttf);
}
.navbar {
    position: fixed;
    /*Fuente que usaremos en la barra de navegación*/
    font-family: Cormorant; 
    top: 0;
    left: 0;
    width: 100%;
    /*La barra ocupará 1/10 de la altura de la ventana*/
    height: 10vh;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    transition: background-color 0.3s ease;
}
.navbar.solid {
    background-color: var(--color1);
    color: var(--color3);
}

.navbar a {
    color:var(--color3);
    text-decoration: none;
    font-size: 2em;
    padding: 10px;
    /*Transition permite el cambio de color con un tiempo determinado*/
    transition: background-color 0.3s ease; 
    /*order-radius: 5px;*/
}
.navbar a:hover{
    background-color: var(--color2);
    color: var(--color3);
}