:root {
    /*Los colores principales de la página*/
    --color1: rgb(219, 26, 31);
    --color2: rgba(120, 0, 0);
    --color3: snow;
    --borde: 1px solid rgb(219, 26, 31);
}
/*Sección de los estilos*/
@font-face{
    font-family: Cormorant;
    src: url(../fonts/static/Cormorant-BoldItalic.ttf);
}
.navbar {
    position: fixed;
    /*Fuente que usaremos en la barra de navegación*/
    overflow: hidden;
    font-family: Cormorant; 
    font-size: 2em;
    top: 0;
    left: 0;
    width: 100%;
    /*La barra ocupará 1/10 de la altura de la ventana*/
    height: 10vh;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
    transition: background-color 0.3s ease;
}
.navbar.solid {
    background-color: var(--color1);
    color: var(--color3);
}

.navbar a {
    color:var(--color3);
    text-decoration: none;
    font-size: 1em;
    margin: 0 15px;
    padding: 15px;
    /*Transition permite el cambio de color con un tiempo determinado*/
    transition: background-color 0.3s ease; 
    /*order-radius: 5px;*/
}
.navbar a:hover{
    background-color: var(--color2);
    color: var(--color3);
}
.navbar a img{
    height: 50px;
    width: auto; /* Maintains the aspect ratio of the image */
    margin-right: 15px; /* Adds space between the image and the next link */
    padding: 0; /* Removes any default padding */
    max-height: 100%; /* Ensures the image height doesn't exceed the navbar height */
    object-fit: contain; 
}
/*Estilos del footer y sus contenidos*/
footer{
    text-align: center;
    padding: 20px;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: var(--color3);
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Efecto Hover en el icono de la red social*/
.socialIcons a:hover{
    background-color: var(--color2);
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: var(--color3);
    transition: 0.5s;
}