body {
    margin: 0;
    overflow-x: hidden; 
}

.gallery {
    position: relative;
    overflow: hidden;
    width: 100vw; 
    height: calc(100vh - 50px); 
}

.gallery-container {
    width: 100%;
    height: 100%;
}

.gallery-item {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: 1; 
    display: none; 
}

.gallery-item.active {
    display: block; 
}

.nav-buttons {
    display: flex;
    width: 100%;
    height: 50px; 
}

.nav-button {
    flex: 1; 
    font-size: 20px;
    background-color: #007BFF; 
    color: white; 
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
