:root {
    /* Los colores principales de la página */
    --black: rgb(20, 20, 20);
    --verdeAzulado: rgb(0, 255, 200);
    --cian: rgb(0, 200, 255);
    --azul: rgb(0, 100, 255);
    --morado: rgb(150, 0, 255);
    --rojoBrillante: rgb(255, 50, 0);
    --naranja: rgb(255, 150, 0);
    --snow: snow;
}
body{
    background-color: var(--black);
    font-family: "Source Code Pro", monospace;
}
.box-container{
    padding-top: 95px;
}
.form-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: var(--snow);
    border-style: dashed;
    border-color: var(--morado);
    text-align: center;
}

.form-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--black);
}

.form-container label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    text-align: left;
    color: var(--black);
}

.form-container input {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid --snow;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s;
}

.form-container input:focus {
    border-color: var(--morado);
    outline: none;
}

.form-container button {
    background-color: var(--morado);
    color: var(--snow);
    padding: 14px 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: var(--naranja);
}

.form-container p {
    margin-top: 20px;
    font-size: 16px;
}

.form-container a {
    color: var(--azul);
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

/* Estilo para el mensaje de error */
.error-message {
    background-color: var(--snow);
    color: var(--rojoBrillante);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid --rojoBrillante;
    border-radius: 5px;
    text-align: center;
}