:root {
    /* Los colores principales de la página */
    --black: rgb(20, 20, 20);
    --verdeAzulado: rgb(0, 255, 200);
    --cian: rgb(0, 200, 255);
    --azul: rgb(0, 100, 255);
    --morado: rgb(150, 0, 255);
    --rojoBrillante: rgb(255, 50, 0);
    --naranja: rgb(255, 150, 0);
    --snow: snow;
}
.grid{
    display: grid;
}
@media (min-widht: 275px){
    .tablet-dos{
        grid-template-columns: 50% 50%;
    }
    nav.grid{
        display: grid;
    }
}
@media (min-width: 575px){
    .ordenador-tres{
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
}
body{
    background-color: var(--black);
    color: var(--black);
    /*Agregado del chino*/
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center; /* Center horizontally */
    align-items: center;

}
label.login-title{
    display: block; /* Ensures labels appear above inputs */
    margin-top: 8px;
    font-weight: bold;
    color: var(--snow);

}
.login-form-box{
    padding: 20px;
    border-style: dashed;
    width: 650px;
    max-width: 650px;
    /*height: 220px;*/
    
    background-color: var(--morado);
    color: var(--snow);
}
.form-login{
    padding: 30px;
    color: var(--snow);
    font-size:large;
}
.login-button{
    color: snow;
    background-color: var(--morado);
    border-style:solid;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login-button:hover{
    background-color: var(--naranja);
    color: snow;
}
.login-p{
    color: var(--snow);
    font-style: italic;
    font-size:x-large;
}