.grid{
    display: grid;
}
.logo{
    max-width: 200px;
}
section{
    margin: auto;
    width: 75%;
}
.una{
    grid-template-columns: 100%;
}
nav.grid{
    display: none;
}
.hamburguesa{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: aqua;
    width:50px;
    border-radius: 50%;
    text-align: center;
}
@media (min-width: 275px){
    .tablet-dos{
        grid-template-columns: 50% 50%;
    }
    nav.grid{
        display: grid;
    }
    .hamburguesa{
        display: none;
    }
}
@media (min-width: 575px){
    .ordenador-tres{
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
}
/*.cinco{
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.treinta-setenta{
    grid-template-columns: 30% 70%;
}*/