:root{
    /* Los colores principales de la página */
    --color1: rgb(219, 26, 31);
    --color2: rgba(120, 0, 0);
    --color3: snow;
    --color4: #f7dfad;
    --color5: rgb(153, 102, 204);
    --borde: 1px solid rgb(219, 26, 31);
}
body{
    background-image: url(../background_1.jpg);
    background-size: cover;
    font-family: "Montserrat Alternates", sans-serif;
}
@font-face{
    font-family: arcade;
    src: url("../store_font/ka1.ttf");
}
@font-face{
    font-family: icono;
    src: url("../store_font/ARCADE__.TTF");
}
.parrafo-1{
    font-family: arcade;
    font-size:xx-large;
    padding: 20px;
    border-style:dotted;
    text-align: center;
    color: black;
    /*background-image: url(../background_h1.jpg);*/
    background-color: var(--color4);
    background-size: cover;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.parrafo-1:hover{
    color: var(--color3);
    background-color: var(--color5);
}
.vaciar-button{
    text-align: center;
    background-color: var(--color3);
    color: black;
    margin: 20px;
    padding: 20px;
    position: relative;
    font-size: larger;
    border-style: dashed;
    left: 900px;
    transition: background-color 0.5 ease, color 0.5 ease;
}
.vaciar-button:hover{
    background-color: var(--color5);
    color: var(--color3);
}