:root{
    --color5: rgb(153, 102, 204);
}
body{
    background-image: url(../background_1.jpg);
    background-size: cover;
}
@font-face{
    font-family: arcade;
    src: url("../store_font/ka1.ttf");
}
@font-face{
    font-family: icono;
    src: url("../store_font/ARCADE__.TTF");
}
.parrafo-1{
    font-family: arcade;
    font-size:xx-large;
    padding: 20px;
    text-align: center;
    color: orange;
    /*background-image: url(../background_h1.jpg);*/
    background-color: var(--color5);
    background-size: cover;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.parrafo-1:hover{
    color: snow;
    background-color: coral;
}
