:root {
    /*Los colores principales de la página*/
    --color1: rgb(219, 26, 31);
    --color2: rgba(120, 0, 0);
    --color3: snow;
    --color4: #f7dfad;
    --borde: 1px solid rgb(219, 26, 31);
}
@font-face{
    font-family: arcade;
    src: url("../font_store/ka1.ttf");
}
@font-face{
    font-family: icono;
    src: url("../store_font/ARCADE__.TTF");
}
/*Estilos del HTML*/
html {
    scroll-behavior: smooth;
}
.navbar {
    position: fixed;
    /*La fuente que usaremos para la barra de navegación*/
    overflow: hidden;
    font-size: 1em;
    top: 0;
    left: 0;
    width: 100%;
    /*La barra de navegación ocupará 1/10 de la altura de la ventana*/
    height: 10vh;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navbar.solid {
    background-color: var(--color1);
    color: var(--color3);
}

.navbar a {
    font-family: arcade;
    /*Modificar la línea de abajo después*/
    letter-spacing: normal;
    color: var(--color3);
    text-decoration: none;
    font-size: 2em;
    padding: 10px;
    /*Transition permite el cambio de color con un tiempo determinado*/
    transition: background-color 0.3s ease;
    /*border-radius: 5px;*/
}
.logo-nav{
    display: flex;
    justify-content: center;
    background-color: transparent;
    pointer-events: none;
}

.navbar a:hover {
    background-color: var(--color2);
    color: var(--color3);
}

.navbar a img {
    height: 50px;
    /* Mantiene la proporción de la imagen */
    width: auto; 
    /* Agrega espacio entre la imagen y el siguiente enlace */
    margin-right: 15px; 
    /* Elimina cualquier padding por defecto */
    padding: 0; 
    /* Asegura que la altura de la imagen no exceda la barra de navegación */
    max-height: 100%; 
    object-fit: contain; 
    cursor: default;
    pointer-events: none;
}

/*Estilos del footer y sus contenidos*/
footer {
    text-align: center;
    padding: 20px;
}

.footer-p {
    font-size: larger;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
    font-size: small;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: var(--color3);
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/*Efecto hover en los íconos de redes sociales*/
.socialIcons a:hover {
    background-color: var(--color2);
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: var(--color3);
    transition: 0.5s;
}

/*Estilos para la página de carga*/
#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(33, 36, 45, 0.8) url('https://cdn.pixabay.com/animation/2023/11/29/03/37/03-37-06-789_512.gif') no-repeat center;
    /* Asegura que el GIF tenga un tamaño de 512x512 */
    background-size: 512px 512px; 
    z-index: 999;
    /* Transición suave para desvanecer */
    transition: opacity 1s ease; 
    /* Comienza completamente visible */
    opacity: 1; 
}
