:root {
    /* Los colores principales de la página */
    --color1: rgb(219, 26, 31);
    --color2: rgba(120, 0, 0);
    --color3: snow;
    --color4: #f7dfad;
    --color5: rgb(153, 102, 204);
    --borde: 1px solid rgb(219, 26, 31);
}

html,
body {
    font-family: "Montserrat Alternates", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--color4);
}

/* Configuración de la cuadrícula para dos columnas */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/*Estilos de postal*/
.postal-section {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 80%;
    margin: 0 auto;
}

.postal-section p {
    flex: 1;
    width: 150px;
    height: auto;
    text-align: justify;
    font-size: 1.2em;
    border-style:dotted;
    background-color: snow;
    padding: 20px;
    color: black;
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.postal-section p:hover {
    background-color: var(--color5);
    color: var(--color3);
    font-weight: bold;
    border-style:groove;
    padding: 20px;
    border-radius: 5px;
}

.postal-section img {
    width: 300px;
    height: auto;
    border-style: dashed;
    transform: rotate(-3deg);
    transition: transform 0.5s ease;
    object-fit: cover;
}

.postal-section img:hover {
    transform: rotate(-3deg) scale(1.1);
}
/*Estilos de las imágenes*/
.inicio-image {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    max-width: 75%;
    margin: 0 auto;
}

.inicio-image img {
    width: 500px;
    height: auto;
    transform: rotate(5deg);
    border: 10px solid white;
    transition: transform 0.5s ease;
    object-fit: cover;
    margin: 0;

}

.inicio-image img:hover {
    transform: scale(1.1);
}


/* Añadir relleno alrededor del contenido */
.content {
    padding: 20px;
}
.trivia {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: x-large;
    text-align: center;
    border-radius: 10px;
    border-style: dashed;
    background-color: var(--color3);
    background-size: cover;
    background-position: center;
    transition: background-size 0.5s ease, font-style 0.3s ease;
    margin: 20px;
    color: black;
    line-height: 1.6;
}

.trivia:hover {
    color: var(--color3);
    background-color: var(--color2);
}
.trivia-preguntas {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 80%;
    margin: 0 auto;
}

.trivia-preguntas p {
    flex: 1;
    width: 150px;
    height: auto;
    text-align: justify;
    font-size: 1.2em;
    border-style: dotted;
    background-color: snow;
    padding: 20px;
    color: black;
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.trivia-preguntas p:hover {
    background-color: var(--color5);
    color: var(--color3);
    font-weight: bold;
    border-style: groove;
    padding: 20px;
    border-radius: 5px;
}

.trivia-preguntas img {
    width: 500px;
    height: auto;
    border-style: dashed;
    transition: transform 0.5s ease;
    object-fit: cover;
}

.trivia-preguntas img:hover {
    transform:scale(1.1);
}



/* Estilos de la página de carga */
#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(33, 36, 45, 0.8) url('https://cdn.pixabay.com/animation/2023/11/29/03/37/03-37-06-789_512.gif') no-repeat center;
    background-size: 512px 512px;
    z-index: 999;
    transition: opacity 1s ease;
    opacity: 1;
}