:root {
    --color1: #f7dfad;
    --color2: #f7d49e;
    --color3: #fcbbde;
    --color4: #f582bf;
    --color5: #380468;
}

/* Basic body styling */
body {
    margin: 0;
    padding: 0;
    background-color: var(--color1);
    font-family: "Sofia", sans-serif;
}

/* Navbar styling */
.navbar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* Create five equal columns */
    align-items: center;
    /* Center items vertically */
    height: 15vh;
    background-color: transparent;
    /* Start transparent */
    z-index: 1000;
    position: fixed;
    width: 100%;
    transition: background-color 0.3s ease;
    /* Smooth transition */
}

.navbar.solid {
    background-color: var(--color4);
    /* Color when solid */
}

.navbar a {
    font-family: "Sofia", sans-serif;
    font-weight: lighter;
    color: var(--color5);
    text-decoration: none;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    /* Adjust padding for vertical centering */
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Add transition for background and color */

}

/* Hover effect for navbar links */
.navbar a:hover {
    background-color: var(--color3);
    color: var(--color5);

}

/* Centered logo in navbar */
.logo-nav {
    display: flex;
    /* Use flex to center the image */
    justify-content: center;
    /* Center the logo */
    color: inherit;
    background-color: transparent;
    pointer-events: none;
}

.logo-nav img {
    width: 80px;
    height: auto;
}

.logo-nav img:hover {
    transform: none;
    /* Remove any transform effects on hover */
    transition: none;
    /* Remove any transition effects */
}

/* Placeholder for the image that triggers the navbar color change */
.image-placeholder {
    height: 300px;
    /* Adjust this height as needed */
    overflow: hidden;
    /* Hide overflow */
}

/* JS function to adjust navbar based on scroll position */

/* Estilos del footer y sus contenidos */
footer {
    text-align: center;
    padding: 20px;
}

.footer-p {
    font-size: larger;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
    font-size: small;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: var(--color1);
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/* Hover affect on social media icon */
.socialIcons a:hover {
    background-color: var(--color4);
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: black;
    transition: 0.5s;
}